
.main
  .main__headr
    .leftheader
      .leftheader__groupname イルミナティ
      %ul.leftheader__memberlist 
        Member:
        %li masao
        %li kirin
        %li sonshi
    .rightheadr
      %div= link_to "Edit", "#", class: "rightheadr__editbtn" 

  .main__body 
    .message
      .upperside
        .username ユーザー名
        .timestamp 2019/11/20(Wed) 17:43:01
      .lowerside メッセージが入る
    .message
      .upperside
        .username ユーザー名
        .timestamp 2019/11/20(Wed) 17:43:01
      .lowerside メッセージが入る
    .message
      .upperside
        .username ユーザー名
        .timestamp 2019/11/20(Wed) 17:43:01
      .lowerside メッセージが入る

  .mainfooter
    .inputbox
      %form
        %input.inputtext{:type => "text"} 
          %label{class: "input-box__image"}
          = icon('fas', 'image')
          %input{type: "file"}
    .submitbtn 
      %input.sendbtn{:type => "submit", :value => "Send"} 