
.mainbar
  .mainhead
    .lefthead
      .groupname test
      %ul.memberlist 
        %li Member :
        %li masao
        %li kirin
        %li sonshi
    .righthead 
      %div= link_to "Edit", "#", class: "editbtn" 
      


      

  .mainbody メッセージ一覧を表示させよう