
.main
  .main__headr
    .leftheader
      .leftheader__groupname イルミナティ
      %ul.leftheader__memberlist 
        Member:
        %li masao
        %li kirin
        %li sonshi
    .rightheadr
      %div= link_to "Edit", "#", class: "rightheadr__editbtn" 

  .main__body 
    .message
      .message__upperside
        .username ユーザー名
        .timestamp 2019/11/20(Wed) 17:43:01
      .message__lowerside メッセージが入る
    .message
      .message__upperside
        .username ユーザー名
        .timestamp 2019/11/20(Wed) 17:43:01
      .message__lowerside メッセージが入る
    .message
      .message__upperside
        .username ユーザー名
        .timestamp 2019/11/20(Wed) 17:43:01
      .message__lowerside メッセージが入る

  .main__form
    %form.new-message
      .inputbox
        %input.input-text{:placeholder => "type a message", :type => "text"}/ 
        %label{class: "input-box__image"}
        = icon('fas', 'image')
        %input{type: "file"}
      %input.submit-btn{:name => "commit", :type => "submit", :value => "Send"}/