
.mainbar
  .mainhead
    .lefthead
      .groupname test
      %ul.memberlist 
        %li Member :
        %li masao
        %li kirin
        %li sonshi
    .righthead 
      %div= link_to "Edit", "#", class: "editbtn" 

  .mainbody 
    .messagewrapper
      .message
        .upperside
          .username ユーザー名
          .timestamp 2019/11/20(Wed) 17:43:01
        .lowerside メッセージが入る
      .message
        .upperside
          .username ユーザー名
          .timestamp 2019/11/20(Wed) 17:43:01
        .lowerside メッセージが入る
      .message
        .upperside
          .username ユーザー名
          .timestamp 2019/11/20(Wed) 17:43:01
        .lowerside メッセージが入る

  .mainfooter
    .inputbox
      %form
        %input.inputtext{:type => "text"} 
          %label{class: "input-box__image"}
          = icon('fas', 'image')
          %input{type: "file"}
    .submitbtn 
      %input.sendbtn{:type => "submit", :value => "Send"} 