
.main
  .main__headr
    .leftheader
      .leftheader__groupname 
        =@group.name
      %ul.leftheader__memberlist 
        Member:
        %li masao
        %li kirin
        %li sonshi
    .rightheadr
      %div= link_to "Edit", edit_group_path(@group), class: "rightheadr__editbtn" 

  .main__body 
    .message
      = render @messages
  .main__form
    %form.newmessage
      .newmessage__inputbox
        %input.inputtext{:placeholder => "type a message", :type => "text"}
        %label.inputimage
          = icon('fas', 'image')
          %input.inputimage__filebtn{type: "file"}
      %input.newmessage__submitbtn{:name => "commit", :type => "submit", :value => "Send"}