.message
  .message__upperside
    .username 
      = message.user.name
    .timestamp 
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .message__lowerside 
    =message.content
    =image_tag src= message.image, size: "20*20"