.sidebar 
  -# サイドヘッダー内
  .sidehead
    .sidebox 
      %p.username 正雄
      %ul.iconlists
        %li.icon1 
        = link_to "#", class: "icon1" do
          = icon('fas', 'edit')
        %li.icon2 
        = link_to "#", class: "icon2" do
          = icon('fas', 'cog')

  -# サイドボディー内
  .sidebody
    .sideblock
      .groupname KKK
      .lastmessage 白頭巾ちゃん
    .sideblock
      .groupname 創価学会
      .lastmessage 南無妙法蓮華経
    .sideblock
      .groupname イルミナティ
      .lastmessage カードの予言通り
    .sideblock
      .groupname キリン
      .lastmessage キリンですうううう
