.side
  -# サイドヘッダー内
  .side__header
    .side__header__box
      %p.side__header__box__username 正雄
      %ul.side__header__box__iconlists
        %li 
        = link_to "#", class: "side__header__box__iconlists--icon1" do
          = icon('fas', 'edit')
        %li
        = link_to "#", class: "side__header__box__iconlists--icon2" do
          = icon('fas', 'cog')

  -# サイドボディー内
  .side__body
    .side__body__group
      .side__body__group__name KKK
      .side__body__group__message 白頭巾ちゃん
    .side__body__group
      .side__body__group__name 創価学会
      .side__body__group__message 南無妙法蓮華経
    .side__body__group
      .side__body__group__name イルミナティ
      .side__body__group__message カードの予言通り
    .side__body__group
      .side__body__group__name キリン
      .side__body__group__message キリンですうううう
