.side
  -# サイドヘッダー内
  .side__header
    .userbox
      %p.userbox__username 正雄
      %ul.userbox__iconlists
        %li 
        = link_to "#", class: "userbox__iconlists--icon1" do
          = icon('fas', 'edit')
        %li
        = link_to "#", class: "userbox__iconlists--icon2" do
          = icon('fas', 'cog')

  -# サイドボディー内
  .side__body
    .group
      .group__name KKK
      .group__message 白頭巾ちゃん
    .group
      .group__name 創価学会
      .group__message 南無妙法蓮華経
    .group
      .group__name イルミナティ
      .group__message カードの予言通り
    .group
      .group__name キリン
      .group__message キリンですうううう
