
*{
  box-sizing: border-box;
}

.wrapper{
  display: flex;

  // サイド部分
  .sidebar{
    width: 300px;
    height: 100vh;
    color: #ffffff;
    font-weight: bold;

    .sidehead{
      background-color: #253141;
      height: 100px;
      display: flex;
      align-items: center;
       .sidebox{
         width: 260px;
         height: 20px;    
         margin: 0 auto;
         justify-content:space-between;
         display: flex;
         .username{
           line-height: 20px;
         }
         .iconlists{
           width: 60px;
           display:flex;
           justify-content: flex-end;
            .icon1{
              margin-right: 5px;
            }
         }
       }
    }



    .sidebody{
      background-color: #2f3e51;
      height: calc(100vh - 100px);
      .sideblock{
        height: 91px;
        width: 300px;
        .groupname{
          font-size: 15px;
          padding: 20px 20px 5px;
        }
        .lastmessage{
          font-size: 11px;
          padding:0 20px 0;
        }
      }
    }

  }


// メイン部分

  .mainbar{
    width: calc(100vw - 300px);
    height: 100vh;
    .mainhead{
      height: 100px;
      width: calc(100vw - 300px);
      display: flex;
      justify-content: space-between;
      background-color: #ffffff;
      padding: 0 40px;
      border-bottom: solid 1px #eeeeee ;
      .lefthead{
        .groupname{
          font-size: 20px;
          color: #333333;
          margin: 35px 0 15px 0;
        }
        .memberlist{
          display: flex;
          color: #999999;
          font-size: 12px;
          li{
            margin-right: 5px;
          }
        }
      }
      
      .righthead{
        width: 72px;
        height: 40px;
        margin: 28px 20px 32px 20px;
        color:#38aef0;
        font-size: 16px;
        line-height: 40px;
        text-align:center;
        border: 2px solid;
        .editbtn{
          color:#38aef0;
          text-decoration: none;
        }
      }
    }

    .mainbody{
      background-color: #fafafa;
      height: calc(100vh - 100px - 90px);
      .messagewrapper{
        background-color: red;
        padding: 35px 0 0 40px;
        .message{
          margin-bottom: 46px;
          .upperside{
            display: flex;
            .username{
              color: #333333;
              font-size: 16px;
              margin-bottom: 12px;
            }
            .timestamp{
              color: #999999;
              font-size: 12px;
              margin-left: 5px;
            }
          }
          .lowerside{
            font-size: 14px;
            color: #434A54;
          }
        }
      }
    }
    
    
    
    
    .mainfooter{
      background-color:#d2d2d2;
      height: 90px;
    }

  }

}